{% extends "/base.html" %}

{% block content %}
<article class="course-content">
    <h1>房规</h1>
    
    <p>一些秀林生系列的跑团游戏的房规。</p>
    
    <p>可以在线阅读或<a href="/assets/pdfs/COC/房规列表和第二世界.pdf" download>下载</a>房规和第二世界剧本简介。</p>
    
    <!-- PDF Embed -->
    <div class="pdf-container" style="width: 100%; height: 700px;">
        <object data="/assets/pdfs/COC/房规列表和第二世界.pdf" type="application/pdf" width="100%" height="100%">
            <p>It appears your browser doesn't support embedded PDFs. 
            <a href="/assets/pdfs/COC/房规列表和第二世界.pdf">Click here to download the PDF</a>.</p>
        </object>
    </div>
</article>
{% endblock %}